//Colors
$white: #fff;
$snow: #fafafa;
$quick-silver: #a0a0a0;
$jelly-bean: #e56353;
$salmon: #e97f72;
$pastel-pink: #f0a9a1;
$granite-gray: #686963;
$taupe-gray: #91918d;
$gray: #babab8;

// fonts
$raleway: 'Raleway', sans-serif;
$raleway-extra-light: 200;
$raleway-regular: 400;
$raleway-bold: 700;

$font-size-xx-large: 100px;
$font-size-x-large: 70px;
$font-size-large: 50px;
$font-size-medium: 18px;

$primary-font: $raleway;
$primary-font-extra-light: $raleway-extra-light;
$primary-font-regular: $raleway-regular;
$primary-font-bold: $raleway-bold;

